/* Style do site marcial */

  
  .dash-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .graph {
    background-color: #eaeaea;
    width: 45%;
    height: 35vh;
    margin: 10px;
    padding: 5px;
  }
  
  /* Header */
  .container {
    width: 90%;
    margin: auto;
  }
  .header {
    background-image: url("https://media.istockphoto.com/photos/wire-fence-with-isolated-black-background-picture-id664135274?k=20&m=664135274&s=612x612&w=0&h=LDul0uTsCyUzG14baQauy6fmxC0yaBkwaizZDSbkSNo=");
    height: 70px;
    border-bottom: 3px solid #f11818;
    outline: 3px solid #0daceb;
    margin-bottom: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .header .container .highlight {
    color: #f11818;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .header h1 {
    float: left;
    background-color: black;
    margin-top: 20px;
    color: #0daceb;
    font-size: 25px;
  }
  .header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar{
    display: flex;
    width: 35%;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}
  .navbar li{
      font-weight: lighter;
      color: white;
      font-size: 14px;
  }
  .navbar .active{
      font-weight: bolder;
      color: #b01105;
  }
  .navbar li a{
    text-decoration: none;
    color: #f11818;
    background-color: black;
  }

  body{
    background-image: url("https://media.istockphoto.com/photos/blue-and-red-fire-picture-id152129791?k=20&m=152129791&s=170667a&w=0&h=0lb4MdHEQn_zzdZ9-UTDmfCcpFGK5PHxCYGBM5rxhKs=");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login{
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding: 50px;
    padding-top: 40px;
    background-color: white;
    border-radius: 20px;
    border: solid #f11818 4px;
    box-shadow: 5px 5px 0.03px #830900;
  }

  .container{
    width: 80%;
    height: 100%;
    margin: auto;
  }
 
  .footer {
    background-color: #32B9CD;
    height: 80px;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .footer .container {
    display: flex;
    justify-content: center;
  }
  